<!DOCTYPE html>
<link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" /> 
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>
<body>	
	<div id="mySidenav" class="sidenav">
		<h4 class="text-dark"><strong>⚝✯✯𝕄𝔼ℕ𝕌✯✯⚝</strong></h4>
		<h4 class="text-secondary"> ‿‿‿‿‿‿‿‿</h4>
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">⌫</a>
		<a asp-controller="Crew" asp-action="GetAllCrewMembers" class="btn-outline-dark">⚝About Crew</a>		
		<a asp-controller="Port" asp-action="MostVisitedPorts" class="btn-outline-dark">⚝About Ports</a>		
		<a asp-controller="ManningCompany" asp-action="GetAllManningCompanies" class="btn-outline-dark">⚝About Company</a>

	</div>
	
	<p class="txtSidebar">➲ Navigational Side menu ⤵⤵⤵</p>	
	<button class="button sidebarPsn-Btn btn-outline-light badge" onclick="openNav()" style="vertical-align:middle"><span>⚝pen side menu⫸ </span></button>	
	
</body>
</html>
<script src="~/js/sidebar.js"></script>
