.buttonZ {
    text-align: center;    
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 3px;
    position: relative;
    background-color: #0094ff;
    border: none;
    color: #4cff00;
    padding: 12px;
    width:30px;  
    height:30px;  
    transition-duration: 0.5s;
    overflow: hidden;
    box-shadow: 0 5px 15px #0026ff;
    border-radius: 2px;
    
}

    .buttonZ:hover {
        background: #fff;
        box-shadow: 0px 2px 10px 5px #4cff00;
        color: #000;
    }

    .buttonZ:after {
        content: "";
        background: #1abc9c;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.9s
    }

    .buttonZ:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }

    .buttonZ:focus {
        outline: 0;
    }
