@model IEnumerable<CrewAllViewModel>
@{
	ViewData["Title"] = "Details for Crew members";
}
<h2>@ViewData["Title"]</h2>

<div class="table-responsive card-body bg-primary bg-opacity-25 rounded-3 shadow-lg col-8">
	<form method="post">
		<table class="table border-secondary table-bordered border-5 table-striped table-hover form-control-sm w-100 bg-success bg-opacity-25">
			<thead>
				<tr class="shadow-lg text-dark border-secondary border-3" style="background-color:slateblue">
					<th align="center">❖ First Name</th>
					<th align="center">❖ Last Name</th>
					<th align="center">❖ Last Port Name</th>
					<th align="center">❖ Last Port of Call Lat/Long</th>
					<th align="center">❖ Select Vessel for Voyage ✔</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>

	</form>
</div>